<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EnvelopeFinance_API_Automation">


<listeners>
      <listener class-name="com.epam.reportportal.testng.ReportPortalTestNGListener" /> 
      
</listeners> 
  <test thread-count="5" name="EnvelopeFinance_API's">
    <classes>
      <class name="com.EnvelopeFinance_API.GET_yodlee_user_token"/>
      <class name="com.EnvelopeFinance_API.GET_historical_data"/>
      <class name="com.EnvelopeFinance_API.POST_plan_settings"/>
      <class name="com.EnvelopeFinance_API.GET_plan_settings"/>
      <class name="com.EnvelopeFinance_API.GET_config"/>
      <class name="com.EnvelopeFinance_API.GET_credit_card_details"/>
       <class name="Mypursu_API.GET_accountlist"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
